.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.868);
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--light);
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }
}
.admin {
  background-color: var(--admin-middle);
  font-family: 'Dosis';
  padding: 80px 40px;
  z-index: 10;
  position: relative;

  .backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 45px;
    padding: 5px;
    background-color: #202022bb;
    color: var(--white);
    cursor: pointer;
    box-shadow: 0 1px 10px rgba(204, 204, 204, 0.288);

    &:hover {
      background: var(--black);
    }
  }

  h2 {
    text-transform: uppercase;
    color: var(--admin-white);
    font-weight: 400;
    width: 100%;
    text-align: center;
  }

  img {
    width: 300px;
  }
  .sectionContainer {
    background-color: var(--admin-dark);
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(6, auto);
    margin: 0 auto;
    .firstRow {
      h2 {
        width: 100%;
        text-align: center;
      }
    }

    .secondRow {
      text-align: center;
      margin-top: 40px;

      .galleryContainer {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        grid-gap: 40px;
        img {
          height: 250px;
          width: 100%;
          object-fit: cover;
          margin-bottom: 15px;
          margin-top: 20px;
        }
        div {
          float: right;
        }
      }
    }

    a,
    button {
      border: none;
      background: #f5f5f740;
      color: #fff;
      padding: 8px 16px 8px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      text-decoration: none;
      letter-spacing: 0.1rem;
      cursor: pointer;
    }
    a:hover {
      transform: scale(1.1);
      color: rgba(255, 255, 255, 0.534);
    }

    .thirdRow,
    .fourthRow {
      text-align: center;
      margin-top: 40px;
      width: 100%;

      .gallery {
        text-align: left;
        color: var(--admin-white);
        text-transform: uppercase;
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        grid-gap: 40px;
        .itemContainer {
          background: rgb(40, 51, 55);
          background: linear-gradient(
            20deg,
            var(--admin-grad) 40%,
            rgba(40, 51, 55, 1) 85%,
            rgba(42, 71, 69, 1) 100%
          );
          padding: 0px 20px 20px;
          border-radius: 5px;
          margin: 0 auto;
          object-fit: cover;

          img {
            height: 300px;
            object-fit: cover;
            margin: 0 auto;
          }
          div {
            float: right;
          }
        }
      }
    }
  }
}

@media (min-width: 1069px) {
  .sectionContainer {
    max-width: 1069px;
    padding: 32px;
    .firstRow {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

// @media (max-width: 999px) {
//   .sectionContainer {
//     padding: 40px;
//     .firstRow {
//       grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
//     }
//   }
// }
// @media (max-width: 651px) {
//   .sectionContainer {
//     padding: 20px;
//   }
// }
