.form h4 {
  margin-bottom: 16px;
}
.form .container {
  color: var(--middle-grey);
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 16px;
  background: #283337;
  background: linear-gradient(20deg, var(--admin-grad) 40%, #283337 85%, #2a4745 100%);
}
.form .container .inputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form .container .inputContainer .formRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.form .container .inputContainer .formRow p {
  text-transform: capitalize;
}
.form .container .inputContainer .formRow .input,
.form .container .inputContainer .formRow select {
  border-style: none;
  font-size: 16px;
  color: var(--admin-white);
  background-color: rgba(255, 255, 255, 0.173);
  padding: 4px;
  margin-left: 16px;
}
.form .container .inputContainer .input {
  width: 150px;
}
.form .container .inputContainer select {
  width: 158px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  -moz-padding-start: calc(10px - 3px);
  cursor: pointer;
}
.form .container .inputContainer select option {
  background-color: rgba(255, 255, 255, 0.173);
}
.form .container .inputContainer select::-ms-expand {
  display: none;
}
.form .container .inputContainer select:focus::-ms-value {
  background-color: transparent;
}
.form .buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.edit {
  background-color: var(--admin-dark);
  padding: 0 40px;
}
.edit .container {
  top: 40px;
  position: relative;
  margin: 0 auto;
}
