.editPage {
  display: flex;
  justify-content: center;
  padding: 48px;
  .textEditorContainer {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .input {
      background: none;
      border: solid 0.5px var(--white);
      padding: 8px;
      color: var(--white);
      font-family: 'Montserrat';
      margin-bottom: 16px;
    }

    .buttonContainer {
      display: flex;
      justify-content: flex-end;
      gap: 16px;

      a,
      .button {
        font-size: 14px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        border: none;
        background: #f5f5f740;
        color: #fff;
        padding: 8px 16px 8px;
        text-decoration: none;
        cursor: pointer;
        letter-spacing: 0.6px;
        text-transform: capitalize;
        &:hover {
          color: #ffffff85;
        }
      }
    }
  }
}
