.editPage {
  display: flex;
  justify-content: center;
  padding: 48px;
}
.editPage .textEditorContainer {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.editPage .textEditorContainer .input {
  background: none;
  border: solid 0.5px var(--white);
  padding: 8px;
  color: var(--white);
  font-family: 'Montserrat';
  margin-bottom: 16px;
}
.editPage .textEditorContainer .buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
.editPage .textEditorContainer .buttonContainer a,
.editPage .textEditorContainer .buttonContainer .button {
  font-size: 14px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  border: none;
  background: #f5f5f740;
  color: #fff;
  padding: 8px 16px 8px;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.6px;
  text-transform: capitalize;
}
.editPage .textEditorContainer .buttonContainer a:hover,
.editPage .textEditorContainer .buttonContainer .button:hover {
  color: #ffffff85;
}
