.about {
  .bgContainer {
    height: 100%;
    padding: 48px 0;
    margin-bottom: 48px;

    .contentContainer {
      background-image: url('../public/uploads/aboutbg.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0 auto;
      display: grid;
      height: auto;

      .aboutContainer {
        background-color: var(--mid);
        color: var(--white);
        padding: 32px;
        font-size: 18px;
      }

      .formContainer {
        background-color: var(--dark-transparent);
        color: var(--white);
        padding: 20px 32px 30px !important;

        input {
          margin-top: 10px;
          padding: 10px 0 5px 3px;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
          transition: background-color 5000s ease-in-out 0s;
          -webkit-text-fill-color: var(--white);
        }
        input,
        textarea {
          width: 100%;
          font-size: 18px;
          margin-bottom: 10px;
          border: none;
          border-bottom: 1px solid #fff;
          outline: none;
          background: transparent;
          color: var(--white);
          font-weight: 500;
          font-family: 'Montserrat';
          textarea::-webkit-scrollbar {
            display: none;
          }
        }

        textarea {
          height: 40px;
          margin-top: 15px;
          padding: 10px 0 5px 3px !important;
        }

        .error {
          margin: 0 0 30px;
          font-size: 17px;
          color: rgb(250, 84, 84);
        }
        .success {
          font-size: 17px;
        }

        .submit {
          margin-top: 20px;
          .btn {
            background: #f5f5f740;
            color: #eeeeeed8;
            border-radius: 7px;
            padding: 8px 20px 5px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            text-decoration: none;
            letter-spacing: 0.1rem;
            margin-top: 16px !important;
            font-family: 'Montserrat';

            &:hover {
              cursor: pointer;
              color: white;
            }
          }

          .btnLoading {
            background: #f5f5f740;
            color: #c4c3c3d8;
            border-radius: 7px;
            padding: 8px 20px 5px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            text-decoration: none;
            letter-spacing: 0.1rem;
            margin-top: 16px !important;
            font-family: 'Montserrat';
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .about {
    .bgContainer {
      .contentContainer {
        width: 65%;
        max-width: 1067px;
        grid-template-columns: 1fr 1fr;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        .formContainer {
          padding: 20px;
        }
      }
    }
  }
}
