.form {
  color: var(--admin-white);
  letter-spacing: 0.1rem;

  h2 {
    text-align: left;
  }
  .container {
    background: rgb(40, 51, 55);
    background: linear-gradient(
      20deg,
      var(--admin-grad) 40%,
      rgba(40, 51, 55, 1) 85%,
      rgba(42, 71, 69, 1) 100%
    );
    padding: 16px;
    color: var(--middle-grey);
    border-radius: 5px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .inputContainer {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .formRow {
        display: flex;
        justify-content: space-between;
        .title {
          text-transform: uppercase;
          font-weight: bold;
        }

        .input,
        select {
          border-style: none;
          font-size: 16px;
          font-weight: 500;
          color: var(--admin-white);
          background-color: #3d4045;
          padding-left: 5px;
        }
      }
      select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        -moz-padding-start: calc(10px - 3px);
        cursor: pointer;
        option {
          color: rgb(139, 139, 139);
        }
      }

      select::-ms-expand {
        display: none;
      }

      select:focus::-ms-value {
        background-color: transparent;
      }
    }
  }
}

@media (min-width: 651px) {
  .form {
    .container {
      min-width: 400px;
      max-width: 600px;
    }
  }
}

@media (max-width: 650px) {
  .form {
    .container {
      min-width: 220px;
      max-width: 400px;
    }
  }
}

.edit {
  background-color: var(--admin-dark);
  padding: 0 40px;

  .container {
    top: 40px;
    position: relative;
    margin: 0 auto;
  }
}
