.form {
  color: var(--admin-white);
  letter-spacing: 0.1rem;
}
.form h2 {
  text-align: left;
}
.form .container {
  background: #283337;
  background: linear-gradient(20deg, var(--admin-grad) 40%, #283337 85%, #2a4745 100%);
  padding: 16px;
  color: var(--middle-grey);
  border-radius: 5px;
  height: auto;
  margin: 0 auto;
  width: 400px;
}
.form .container .topContainer {
  display: flex;
  flex-direction: row;
}
.form .container .topContainer .imgContainer {
  height: 200px;
  width: 300px;
  overflow: hidden;
  position: relative;
}
.form .container .topContainer .imgContainer .img {
  height: 100%;
  z-index: 10;
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form .container .topContainer .imageUploaderEdit {
  width: 200px;
}
.form .container .topContainer .imageUploader {
  width: 400px;
}
.form .container .topContainer .imageUploader,
.form .container .topContainer .imageUploaderEdit {
  background-color: rgba(122, 122, 122, 0.116);
  border-radius: 5px;
  border-style: none;
  position: relative;
  height: 200px;
  overflow: hidden;
}
.form .container .topContainer .imageUploader h4,
.form .container .topContainer .imageUploaderEdit h4 {
  z-index: 1;
  position: absolute;
  text-transform: uppercase;
  color: #666;
  top: 50%;
  margin: 0;
  width: 100%;
  text-align: center;
}
.form .container .topContainer .imageUploader input,
.form .container .topContainer .imageUploaderEdit input {
  opacity: 0;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.form .container .topContainer .imageUploader .img,
.form .container .topContainer .imageUploaderEdit .img {
  height: 100%;
  z-index: 10;
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.form .container .inputContainer {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form .container .inputContainer .formRow {
  display: flex;
}
.form .container .inputContainer .formRow .title {
  text-transform: uppercase;
  font-weight: bold;
  width: 40%;
}
.form .container .inputContainer .formRow .input,
.form .container .inputContainer .formRow select {
  border-style: none;
  height: 25px;
  font-size: 16px;
  font-weight: 500;
  color: var(--admin-white);
  background-color: #3d4045;
  letter-spacing: 0.1rem;
  padding-left: 5px;
  width: 60%;
}
.form .container .inputContainer select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  -moz-padding-start: calc(10px - 3px);
  cursor: pointer;
}
.form .container .inputContainer select option {
  color: #8b8b8b;
}
.form .container .inputContainer select::-ms-expand {
  display: none;
}
.form .container .inputContainer select:focus::-ms-value {
  background-color: transparent;
}
.form .container .buttonContainer {
  text-align: right;
  margin-top: 25px;
}
.form .container .buttonContainer a {
  background: #f5f5f740;
  color: #fff;
  border-radius: 7px;
  padding: 8px 20px 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px;
  text-decoration: none;
  letter-spacing: 0.1rem;
  cursor: pointer;
}
.form .container .buttonContainer a:hover {
  transform: scale(1.1);
  color: rgba(255, 255, 255, 0.534);
}
@media (min-width: 651px) {
  .form .container {
    min-width: 400px;
    max-width: 600px;
  }
}
@media (max-width: 650px) {
  .form .container {
    min-width: 220px;
    max-width: 400px;
  }
}
.edit {
  background-color: var(--admin-dark);
  padding: 0 40px;
}
.edit .container {
  top: 40px;
  position: relative;
  margin: 0 auto;
}
