.form {
  color: var(--admin-white);
  letter-spacing: 0.1rem;
}
.form h2 {
  text-align: left;
}
.form .container {
  background: #283337;
  background: linear-gradient(20deg, var(--admin-grad) 40%, #283337 85%, #2a4745 100%);
  padding: 16px;
  color: var(--middle-grey);
  border-radius: 5px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form .container .inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form .container .inputContainer .formRow {
  display: flex;
  justify-content: space-between;
}
.form .container .inputContainer .formRow .title {
  text-transform: uppercase;
  font-weight: bold;
}
.form .container .inputContainer .formRow .input,
.form .container .inputContainer .formRow select {
  border-style: none;
  font-size: 16px;
  font-weight: 500;
  color: var(--admin-white);
  background-color: #3d4045;
  padding-left: 5px;
}
.form .container .inputContainer select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  -moz-padding-start: calc(10px - 3px);
  cursor: pointer;
}
.form .container .inputContainer select option {
  color: #8b8b8b;
}
.form .container .inputContainer select::-ms-expand {
  display: none;
}
.form .container .inputContainer select:focus::-ms-value {
  background-color: transparent;
}
@media (min-width: 651px) {
  .form .container {
    min-width: 400px;
    max-width: 600px;
  }
}
@media (max-width: 650px) {
  .form .container {
    min-width: 220px;
    max-width: 400px;
  }
}
.edit {
  background-color: var(--admin-dark);
  padding: 0 40px;
}
.edit .container {
  top: 40px;
  position: relative;
  margin: 0 auto;
}
