.header {
  position: relative;
  display: flex;
  justify-content: center;

  .content {
    flex: 1;
    display: flex;

    .rightContainer {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      .circleOneOuter {
        position: absolute;
        border: solid 1px var(--light-transparent);
        .circleOneMiddle {
          border: solid 1px var(--light);
          .circleOneInner {
            background-image: url('../public/uploads/charlie.jpeg');
            background-position: center; /* Center the image */
            background-size: cover;
          }
        }
      }
      .textContainer {
        position: absolute;
        display: flex;
        flex-direction: column;
      }
    }
    .leftContainer {
      flex: 1;

      .circleTwoOuter {
        position: absolute;
        border: solid 1px var(--light-transparent);
        .circleTwoMiddle {
          border: solid 1px var(--light);
          .circleTwoInner {
            background-image: url('../public/uploads/bg2.jpg');
            background-position: center; /* Center the image */
            background-size: cover;
            z-index: 3;
          }
        }
      }

      .circleThreeOuter {
        position: absolute;
        border: solid 1px var(--light-transparent);
        .circleThreeMiddle {
          border: solid 1px var(--light);
          .circleThreeInner {
            transition: 0.6s ease-in-out;
            background-image: url('../public/uploads/bg1.jpg');
            background-position: center; /* Center the image */
            background-size: cover;
          }
        }
      }
    }

    .circleOneInner,
    .circleOneMiddle,
    .circleOneOuter,
    .circleTwoInner,
    .circleTwoOuter,
    .circleThreeInner,
    .circleThreeOuter,
    .circleTwoMiddle,
    .circleThreeMiddle {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }

  .arrowDown {
    position: absolute;
    height: 30px;
    border-radius: 2px;
  }

  .arrowDown:after {
    content: ' ';
    position: absolute;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
  }

  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }
}

@media (min-width: 415px) {
  .header {
    height: 600px;
    padding-top: var(--space-topOfSection);

    .content {
      max-width: var(--desktop-max);
      margin: 0 var(--space-section-small);

      .rightContainer {
        .circleOneOuter {
          width: 500px;
          height: 500px;
          .circleOneMiddle {
            width: 330px;
            height: 330px;
            .circleOneInner {
              width: 200px;
              height: 200px;
            }
          }
        }
        .textContainer {
          top: 70%;
          align-items: flex-end;
        }
      }
      .leftContainer {
        .circleTwoOuter {
          top: 28%;
          width: 390px;
          height: 390px;
          .circleTwoMiddle {
            width: 260px;
            height: 260px;
            .circleTwoInner {
              transition: 0.6s ease-in-out;
              width: 144px;
              height: 144px;
            }
          }
        }

        .circleThreeOuter {
          left: 20%;
          width: 400px;
          height: 400px;
          .circleThreeMiddle {
            width: 260px;
            height: 260px;
            .circleThreeInner {
              transition: 0.6s ease-in-out;
              width: 200px;
              height: 200px;
              background-image: url('../public/uploads/bg1.jpg');
              background-position: center; /* Center the image */
              background-size: cover;
            }
          }
        }

        &:hover {
          .circleThreeInner {
            transition: 0.6s ease-in-out;
            width: 144px !important;
            height: 144px !important;
          }

          .circleTwoInner {
            transition: 0.6s ease-in-out;
            width: 200px !important;
            height: 200px !important;
          }
        }
      }
    }

    .arrowDown {
      top: calc(100vh - 60px);
      left: calc(50% - 14px);
      height: 30px;
    }

    .arrowDown:after {
      top: 12px;
      left: -10px;
    }

    @keyframes jumpInfinite {
      0% {
        margin-top: 0;
      }
      50% {
        margin-top: 20px;
      }
      100% {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 414px) {
  .header {
    padding-top: var(--space-section-small);
    height: 400px;

    .content {
      width: 100%;
      .rightContainer {
        justify-content: space-around;

        .circleOneOuter {
          width: 300px;
          height: 300px;
          .circleOneMiddle {
            width: 130px;
            height: 130px;
            .circleOneInner {
              width: 100px;
              height: 100px;
            }
          }
        }
        .textContainer {
          width: 100%;
          top: 65%;
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          align-items: center;
        }
      }
      .leftContainer {
        .circleTwoOuter {
          top: 20%;
          width: 190px;
          height: 190px;
          .circleTwoMiddle {
            width: 160px;
            height: 160px;
            .circleTwoInner {
              width: 144px;
              height: 144px;
            }
          }
        }

        .circleThreeOuter {
          top: 0;
          left: 20%;
          width: 200px;
          height: 200px;
          .circleThreeMiddle {
            width: 160px;
            height: 160px;
            .circleThreeInner {
              transition: 0.6s ease-in-out;
              width: 100px;
              height: 100px;
              background-image: url('../public/uploads/bg1.jpg');
              background-position: center; /* Center the image */
              background-size: cover;
            }
          }
        }
      }
    }

    .arrowDown {
      opacity: 0;
    }
  }
}
