.header {
  font-family: 'raleway';
  .bg {
    position: relative;
    background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.4) 100%
      ),
      url(../public/uploads/bg.jpg) no-repeat;

    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    .text {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      margin: 0 auto;

      .border {
        background-color: #202022a9;
        color: white;
      }
    }
  }
}

@media (min-width: 581px) {
  .header {
    .bg {
      .text {
        font-size: 27px;
        letter-spacing: 8px;
        .border {
          padding: 20px;
        }
      }
    }
  }
}
@media (max-width: 580px) {
  .header {
    .bg {
      .text {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 6px;
        .border {
          padding: 16px;
        }
      }
    }
  }
}
