.home h1 {
  padding-top: 30px;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--white);
  margin: 0;
  color: rgba(124, 124, 124, 0.959);
}

.home .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  padding: 20px 80px 40px;
  text-align: center;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  background-color: var(--white);
}

.previewT {
  background: url('/uploads/thumbnail2.jpg');
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  height: 400px;
  background-size: cover;
  opacity: 0.5;
}
.previewM {
  background: url('/uploads/thumbnail1.JPG');
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  height: 400px;
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.previewT .caption::before {
  position: absolute;
  right: 30px;
  left: 30px;
  top: 30px;
  bottom: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 1;
}
.previewM .caption::before {
  position: absolute;
  right: 30px;
  left: 30px;
  top: 30px;
  bottom: 30px;
  opacity: 1;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  content: '';
}

.previewT p {
  letter-spacing: 0.3rem;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s,
    -o-transform 0.35s, transform 0.35s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  font-size: 75px;
  font-weight: 100;
}
.previewM p {
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s,
    -o-transform 0.35s, transform 0.35s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  font-size: 75px;
  font-weight: 100;
}

.previewT h2 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 0 auto;
}
.previewM h2 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin: 0 auto;
}

.previewT:hover .caption p {
  opacity: 0.9;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.previewM:hover .caption p {
  opacity: 0.9;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

@media (max-width: 991px) {
  .home .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 30px 20px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    background-color: var(--white);
  }
}

@media (max-width: 480px) {
  .home .container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 30px 40px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    background-color: var(--white);
  }
}
