.imgContainer {
  height: 200px;
  width: 300px;
  overflow: hidden;
  position: relative;
}
.imgContainer .img {
  height: 100%;
  z-index: 10;
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imageUploaderEdit {
  width: 200px;
}
.imageUploader {
  width: 400px;
}
.imageUploader,
.imageUploaderEdit {
  background-color: rgba(122, 122, 122, 0.116);
  border-radius: 5px;
  border-style: none;
  position: relative;
  height: 200px;
  overflow: hidden;
}
.imageUploader h4,
.imageUploaderEdit h4 {
  z-index: 1;
  position: absolute;
  text-transform: uppercase;
  color: #666;
  top: 50%;
  margin: 0;
  width: 100%;
  text-align: center;
}
.imageUploader input,
.imageUploaderEdit input {
  opacity: 0;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.imageUploader .img,
.imageUploaderEdit .img {
  height: 100%;
  z-index: 10;
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
