.nav {
  .navContainerHidden {
    transition: 1s;
    list-style: none; //?????
    display: flex;
    margin: 0;
    position: fixed;
    width: 100%;
    margin-top: 0;
    font-weight: 500;
    z-index: 10;
    align-items: center;
    background-color: #20202200;
  }
  .navContainer {
    transition: 1s;
    list-style: none; //?????
    display: flex;
    margin: 0;
    position: fixed;
    width: 100%;
    margin-top: 0;
    font-weight: 500;
    z-index: 10;
    align-items: center;
    background-color: #202022;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  .left {
    position: absolute;
    a {
      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .right {
    position: absolute;

    a {
      &:hover {
        transform: scale(1.1);
        color: #fff;
        cursor: pointer;
      }
    }
  }

  a {
    text-decoration: none;
    color: var(--white);
  }
}

@media (min-width: 992px) {
  .nav {
    .navContainer,
    .navContainerHidden {
      height: 55px;

      .left {
        justify-content: left;
        left: 50px;
        font-size: 26px;
      }

      .right {
        display: flex;
        right: 50px;

        a {
          margin: 0 10px;
          font-size: 22px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .nav {
    .navContainer,
    .navContainerHidden {
      height: 55px;

      .left {
        justify-content: left;
        left: 30px;
        font-size: 24px;
      }

      .right {
        display: flex;
        right: 30px;

        a {
          margin: 0 10px;
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .nav {
    .navContainer,
    .navContainerHidden {
      height: 74px;

      .left {
        width: auto;
        font-size: 24px;
        top: 0;
        left: 0;
        margin: 5px 10px;
      }

      .right {
        width: 100%;
        bottom: 0;
        left: 0;
        margin-left: 5px;
        a {
          margin: 0 5px 10px;
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .nav {
    .navContainer,
    .navContainerHidden {
      height: 70px;

      .left {
        width: auto;
        font-size: 20px;
        top: 0;
        left: 0;
        margin: 10px;
      }

      .right {
        width: 100%;
        bottom: 0;
        left: 0;
        margin-left: 5px;
        a {
          margin: 0 5px 10px;
          font-size: 16px;
        }
      }
    }
  }
}
