.nav .navContainerHidden {
  transition: 1s;
  list-style: none;
  display: flex;
  margin: 0;
  position: fixed;
  width: 100%;
  margin-top: 0;
  font-weight: 500;
  z-index: 10;
  align-items: center;
  background-color: #20202200;
}
.nav .navContainer {
  transition: 1s;
  list-style: none;
  display: flex;
  margin: 0;
  position: fixed;
  width: 100%;
  margin-top: 0;
  font-weight: 500;
  z-index: 10;
  align-items: center;
  background-color: #202022;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.nav .navContainer a,
.nav .navContainerHidden a {
  text-decoration: none;
  color: var(--white);
}
.nav .navContainer a:hover,
.nav .navContainerHidden a:hover {
  color: #fff;
  cursor: pointer;
}
.nav .navContainer .left,
.nav .navContainerHidden .left {
  position: absolute;
}
.nav .navContainer .right,
.nav .navContainerHidden .right {
  position: absolute;
}
.nav .navContainer .right a,
.nav .navContainerHidden .right a {
  text-decoration: none;
  color: var(--white);
}
.nav .navContainer .right a:hover,
.nav .navContainerHidden .right a:hover {
  transform: scale(1.1);
}
.nav .navbarAdmin {
  background-color: #15151f;
  color: var(--admin-white);
  height: 30px;
  font-size: 25px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.nav .navbarAdmin .left {
  font-weight: 600;
}
.nav .navbarAdmin .inbox {
  cursor: pointer;
}
.nav .navbarAdmin .inbox svg {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.788);
}
.nav .navbarAdmin .inbox svg:hover {
  color: white;
}
.nav .navbarAdmin .inbox button {
  color: rgba(255, 255, 255, 0.788);
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  background-color: rgba(100, 100, 100, 0);
  font-family: 'Dosis';
  font-size: 16px;
}
.nav .navbarAdmin .inbox button:hover {
  color: white;
}
@media (min-width: 992px) {
  .nav .navContainer,
  .nav .navContainerHidden {
    height: 55px;
  }
  .nav .navContainer .left,
  .nav .navContainerHidden .left {
    justify-content: left;
    left: 50px;
    font-size: 26px;
  }
  .nav .navContainer .right,
  .nav .navContainerHidden .right {
    display: flex;
    right: 50px;
  }
  .nav .navContainer .right a,
  .nav .navContainerHidden .right a {
    margin: 0 10px;
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  .nav .navContainer,
  .nav .navContainerHidden {
    height: 55px;
  }
  .nav .navContainer .left,
  .nav .navContainerHidden .left {
    justify-content: left;
    left: 30px;
    font-size: 24px;
  }
  .nav .navContainer .right,
  .nav .navContainerHidden .right {
    display: flex;
    right: 30px;
  }
  .nav .navContainer .right a,
  .nav .navContainerHidden .right a {
    margin: 0 10px;
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .nav .navContainer,
  .nav .navContainerHidden {
    height: 74px;
  }
  .nav .navContainer .left,
  .nav .navContainerHidden .left {
    width: auto;
    font-size: 24px;
    top: 0;
    left: 0;
    margin: 5px 10px;
  }
  .nav .navContainer .right,
  .nav .navContainerHidden .right {
    width: 100%;
    bottom: 0;
    left: 0;
    margin-left: 5px;
  }
  .nav .navContainer .right a,
  .nav .navContainerHidden .right a {
    margin: 0 5px 10px;
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .nav .navContainer,
  .nav .navContainerHidden {
    height: 70px;
  }
  .nav .navContainer .left,
  .nav .navContainerHidden .left {
    width: auto;
    font-size: 20px;
    top: 0;
    left: 0;
    margin: 10px;
  }
  .nav .navContainer .right,
  .nav .navContainerHidden .right {
    width: 100%;
    bottom: 0;
    left: 0;
    margin-left: 5px;
  }
  .nav .navContainer .right a,
  .nav .navContainerHidden .right a {
    margin: 0 5px 10px;
    font-size: 16px;
  }
}
