.navbar,
.navbarScrolled {
  width: 100%;
  position: fixed;
  flex: 1;
  z-index: 10;
  transition: 1s;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.navbar a,
.navbarScrolled a {
  font-family: 'Italiana';
  font-size: larger;
  text-decoration: none;
  color: var(--white);
  margin: var(--space-grid-big) var(--space-grid-big);
}
.navbar a:hover,
.navbarScrolled a:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}
.navbar .navbarAdmin,
.navbarScrolled .navbarAdmin {
  background-color: #15151f;
  color: var(--admin-white);
  height: 30px;
  font-size: 25px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.navbar .navbarAdmin .left,
.navbarScrolled .navbarAdmin .left {
  font-weight: 600;
}
.navbar .navbarAdmin .inbox,
.navbarScrolled .navbarAdmin .inbox {
  cursor: pointer;
}
.navbar .navbarAdmin .inbox svg,
.navbarScrolled .navbarAdmin .inbox svg {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.788);
}
.navbar .navbarAdmin .inbox svg:hover,
.navbarScrolled .navbarAdmin .inbox svg:hover {
  color: white;
}
.navbar .navbarAdmin .inbox button,
.navbarScrolled .navbarAdmin .inbox button {
  color: rgba(255, 255, 255, 0.788);
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  background-color: rgba(100, 100, 100, 0);
  font-family: 'Dosis';
  font-size: 18px;
}
.navbar .navbarAdmin .inbox button:hover,
.navbarScrolled .navbarAdmin .inbox button:hover {
  color: white;
}
.navbarScrolled {
  background-color: var(--dark);
  border-bottom: 0.5px solid var(--light);
}
.navbarAdminbutton:hover {
  cursor: pointer;
}
