.nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav .navContainer {
  border-bottom: 0.5px solid var(--light);
}
.nav .navContainer,
.nav .navContainerHidden {
  z-index: 10;
  position: fixed;
  width: auto;
  transition: 1s;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Italiana';
  background-color: var(--dark);
}
.nav .navContainer a,
.nav .navContainerHidden a {
  font-size: larger;
  text-decoration: none;
  color: var(--white);
  margin: var(--space-grid-big) var(--space-grid-big);
}
.nav .navContainer a:hover,
.nav .navContainerHidden a:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}
.nav .navbarAdmin {
  background-color: #15151f;
  color: var(--admin-white);
  height: 30px;
  font-size: 25px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.nav .navbarAdmin .left {
  font-weight: 600;
}
.nav .navbarAdmin .inbox {
  cursor: pointer;
}
.nav .navbarAdmin .inbox svg {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.788);
}
.nav .navbarAdmin .inbox svg:hover {
  color: white;
}
.nav .navbarAdmin .inbox button {
  color: rgba(255, 255, 255, 0.788);
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  background-color: rgba(100, 100, 100, 0);
  font-family: 'Dosis';
  font-size: 18px;
}
.nav .navbarAdmin .inbox button:hover {
  color: white;
}
