.grid {
  display: grid;
  position: relative;
  margin: 0px 20px;
  grid-gap: 20px;
  padding-top: 60px;
}
.grid figure {
  position: relative;
  overflow: hidden;
  margin: 10px auto;
  max-width: 580px;
  min-width: 330px;
  cursor: pointer;
}
.grid figure img {
  position: relative;
  display: block;
  height: 100%;
  max-width: 100%;
}
.grid figure figcaption {
  position: absolute;
  width: 100%;
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 1.75em;
  background: rgba(0, 0, 0, 0.397);
  color: #f8f8f8;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.grid figure figcaption h2 {
  font-weight: 500;
  margin: 0 20px 0 0;
  float: left;
  text-transform: uppercase;
}
.grid figure figcaption .description {
  float: right;
  width: 180px;
}
.grid figure figcaption .description p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 16px;
}
figure.effect:hover figcaption,
figure.effect:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
figure.effect:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
@media (min-width: 1501px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid figure {
    max-height: 305px;
  }
}
@media (max-width: 1500px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid figure {
    max-height: 305px;
  }
}
@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid figure {
    max-height: 600px;
  }
}
