.galleryDisplay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 70px;
  grid-gap: 30px;
  .container {
    .imageContainer {
      height: 400px;
      width: 300px;
      background-color: black;
      display: flex;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
}
