.editAbout {
  background: #283337;
  background: linear-gradient(20deg, var(--admin-grad) 40%, #283337 85%, #2a4745 100%);
  width: 600px;
  margin: 40px auto;
  border-radius: 5px;
  padding: 20px 0;
}
.editAbout .title {
  color: var(--admin-white);
  margin: 0px 40px 10px;
  font-size: 20px;
}
.editAbout .input {
  background-color: #0d0d0d;
  border: none;
  color: white;
  margin: 0 40px;
  height: 30px;
  font-family: 'dosis';
  font-size: 18px;
}
.editAbout .editorContainer {
  margin: 0 40px 20px;
  padding: 20px 0;
}
.editAbout .editorContainer .menuContainer {
  display: flex;
  justify-content: center;
}
.editAbout .editorContainer .menuContainer .notActive,
.editAbout .editorContainer .menuContainer .isActive {
  border-style: solid;
  margin: 5px;
  background-color: #0d0d0d;
  border-radius: 3px;
  font-family: 'Dosis';
  font-size: 15px;
}
.editAbout .editorContainer .menuContainer .notActive {
  border-color: grey;
  color: grey;
}
.editAbout .editorContainer .menuContainer .isActive {
  border-color: var(--admin-white);
  color: var(--admin-white);
}
.editAbout .editorContainer .editor {
  color: var(--admin-white);
  background-color: #0d0d0d;
  border-radius: 3px;
  margin: 10px auto;
  width: 500px;
  padding: 10px;
  min-height: 200px;
  height: auto;
}
.editAbout .buttonConatiner {
  display: flex;
}
